/* Transforming code into art. 🌟 */

* {
  margin: 0;
}

img {
  width: 100px;
}

p {
  font-style: italic;
}

.odd {
  color: #CF55F2;
}

#even {
  color: #8CF56C;
}

#title {
  text-align: center;
}